

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

ul {
  list-style: none;
}

.nav-hero {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin:auto;
  padding-top: 20px;
}

.nav-list-item {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-content: start;
}

.container{
 background-color: #1f2937;
 height: 80%
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

p {
  font-size: 12px;
  color: black;
}

.azt {
  line-height: 50px;
}

.hero {
    color: white;
    font-weight: 1px;
    font-size: 14px;
    margin-top: 0;
    line-height: 15px;
}

.welcome-section-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70rem;
  line-height: 1.5rem;
  margin: auto;
}

.image {
  background-color: gray;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 25rem;
}

.btn {
  padding: 4px;
  margin-top: 10px;
  background-color: blue;
  width: 90px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 5px;
}

.section-header {
  display: flex;
  justify-content: center;
  color: black;
  padding-top: 35px;
  padding-bottom: 35px;
}

.projects-grid {
  background-color: #F9FAF8;
  padding-bottom: 40px;          
}

.border {
  height: 90px;
  width: 90px;
  border: 2px solid blue;
  border-radius: 10%;
  margin-right: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.quote-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #E5E7EB;
  font-style: italic;
  font-weight: light;
  font-size: 52px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: none;
}

.right {
  color: black;
  font-size: 10px;
  padding-top: 100px;
  margin-right: 250px;
  margin-left: 2px;
}

.border- {
  display: flex;
  justify-content: center;
  background-color: blue;
  border-radius: 10px;
  height: 140px;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 50px;
}

h4 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.sign-up-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  color: #E5E7EB;
  margin-right: 10%;
  margin-left: 15%;
  margin-left: 1em;
}

.sign-up {
  padding: 3px;
  margin-top: 50px;
  background-color: blue;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  height: 32px;
  width: 110px;
}

nav {
  background-color: #1f2937;
  height: 80px;
}

.Odin-project {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 0;
  padding-bottom: 50px;
  padding-top: 50px;
}
